<html>
  <head>
    <title>Daan Network</title>
    <style>
      input{ border: none; padding: 15px 32px; text-align: center;
      text-decoration: none; display: inline-block; font-size: 14px; cursor:
      pointer; }
    </style>
  </head>
  <body>
    <h3 style="color:black;">{{title}}</h3>
    <p style="color: black;">{{text}}</p>
    Dear
    {{name}},
    <br />
    <h3>
      Your donation request has been accepted by NGO
      {{ngoName}}.
    </h3>

    <h4>
      You can reach the NGO at
      <ol>
        <li>Address: {{ngo_address}}</li>
        <br />
        <li>Contact Number: {{ngo_contact}}</li>
        <br />
        <li>
          Website:
          <a href="{{ngo_website}}">{{ngo_website}}</a>
        </li>
      </ol>
    </h4>
    <br />
    <br />
    <div style="color: red;">
      Note: Please do not reply directly to this e-mail. This e-mail was sent
      from a notification-only address that cannot accept incoming e-mail.
    </div>
  </body>
</html>