<html>
  <head>
    <title>Daan Network</title>
    <style>
      input{ border: none; padding: 15px 32px; text-align: center;
      text-decoration: none; display: inline-block; font-size: 15px; cursor:
      pointer; }
    </style>
  </head>
  <body>
    Dear
    {{drive.ngo.name}},
    <br />
    <h3>
      A Donor has applied to:
      <br />
      {{drive.description.name}}
    </h3>
    <h3>
      Donor Name:
      {{donor.name}}
    </h3>
    <h3>
        Donated Items:
    </h3>
    <ul>
      {{#each application.donation_items}}
        <li>Item:
          <strong>{{this.name}}</strong>
          Quantity:
          <strong>{{this.quantity}}</strong></li>
      {{/each}}
    </ul>
    <h3>
      Pickup Details:
    </h3>
    <ul>
      <li>Pickup Address: {{application.pickUpAddress}}</li>
      <li>Pickup Date: {{application.pickUpDate}}</li>
    </ul>
    <h4>
      You can reach the Donor at
      <ol>
        <li>
          Email:
          {{donor.emailId}}
        </li>
        <br />
        <li>Contact Number: {{donor.phone}}</li>
        <br/>
      </ol>
    </h4>
    <br />
    <br />
    <div style="color: red;">
      Note: Please do not reply directly to this e-mail. This e-mail was sent
      from a notification-only address that cannot accept incoming e-mail.
    </div>
  </body>
</html>